{% extends "base.html" %}

{% block content %}

	<div id="services" class="container-fluid">
	 <h2>NEWS TODAY</h2><br>
	 <div class="row "> <!--slide in scroll -->
	    <div class="col-md-8">
		    {% for article in articles %}
		      	<div class="col-md-4 inews slideanim" style="width: 32%; margin: 2px; border:1px solid #9e9e9e;">
		        	<div class="heading">
		        		<h4>{{article.a_title|truncatewords:12}}</h4>
		        	</div>
		        	<hr>
		        	<div class="content">
			        	<p style="font-style: italic; color: #f0f0ff;">{{article.a_description |truncatechars:230}}</p>
			        	<p><a id="bb" href="#" role="button">View details &raquo;</a></p>
		        	</div>
	      		</div>
		    {% endfor %}
		</div>
	  	<div class="col-md-4" style="background-color: blue;">
		      <h2>Heading</h2>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
  	</div>
{% endblock content %}