{% extends "base.html" %}

{% block content %}

	<div id="services" class="container-fluid">
	 <h2>NEWS TODAY</h2><br>
	 <div class="row "> <!--slide in scroll -->
	    <div class="col-md-8">
		    {% for article in articles %}
		      	<div class="col-md-4 inews slideanim">
		        	<div class="heading">
		        		<h4>{{article.a_title}}</h4>
		        	</div>
		        	<div class="content">
			        	<p>{{article.a_description |truncatechars:200}}</p>
			        	<p><a id="bb" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		        	</div>
	      		</div>
		    {% endfor %}
		</div>
	  	<div class="col-md-4" style="background-color: blue;">
		      <h2>Heading</h2>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
  	</div>

<!--
    <div class="row">
    	
       	<div class="col-md-8">
       		<div style="background-color: orange; width:100%;">
       	
				<div class="row" >
			    {% for article in articles %}
			        
			        <div class="col-md-4">
			          <h2>{{article.a_title}}</h2>
			          <p>{{article.a_description | safe}}</p>
			          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			        </div>
			       
			    {% endfor %}
		        </div>
	        </div>
		</div>
		
	   <div class="col-md-4">
	   <div style="height: 121px;background-color: wheat; width:100%;"></div>
	    
		      <h2>Heading</h2>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		  
	   </div>
  	</div>
	-->
{% endblock content %}