{% extends "base.html" %}

{% block content %}

	<div id="services" class="container-fluid">
	 <h2>NEWS TODAY</h2><br>
	 <div class="row "> <!--slide in scroll -->
	    <div class="col-lg-8 col-md-12 col">
		    {% for article in articles %}
		      	<div class="col-lg-4 col-md-6 inews slideanim" style="border:1px solid #9e9e9e;">
		      	<!-- style="width: 32%; margin: 2px; border:1px solid #9e9e9e;" -->
		        	<div class="heading">
		        		<h4>{{article.a_title|truncatewords:12}}</h4>
		        	</div>
		        	<div class="content">

			        	<p style="font-style: italic; color: #f0f0ff;">{{article.a_description |truncatechars:220}}</p>
		        	</div>
		        	<div class="tail">
			        	<p style="float: left;"><a href="{{article.a_url}}">View details&raquo;</a></p>&nbsp;&nbsp;
			        	<p style="float: right;">{{article.a_pub_date.date}}</p>
			        </div>
	      		</div>
		    {% endfor %}
		</div>
	  	<div class="col-lg-4 col-md-12" style="background-color: blue;">
		      <h2>Heading</h2>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
  	</div>
{% endblock content %}