{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="height: 121px; background-color: orange; width:100%;">
                <label>Box 1</label>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="height: 121px;background-color: wheat; width:100%;">
                <label>Box 2</label>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}


